.titulo_editardisciplina {
  margin-right: 45px;
  font-size: 38px;
  color: navy;
}

.header_editardisciplina {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.box_editardisciplina {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.bloco_editardisciplina {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(skyblue, transparent);
}

.inputs_editardisciplina {
  font-size: 16px;
  border-radius: 25px;
  border-style: none;
  padding: 15px 40px;
  outline: none;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  width: 72vh;
}

#editarStatus {
  font-size: 16px;
  margin-top: 30px;
  border-radius: 20px;
  border-style: none;
  padding: 10px 30px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#btnSalvaredicaoDisciplina {
  border: none;
  background-color: rgb(6, 41, 169);
  border-radius: 25px;
  padding: 10px 45px;
  font-size: 17px;
  outline: none;
  margin-top: 30px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}
