.titulo_cadastro {
  margin-right: 45px;
  font-size: 38px;
  color: navy;
}

.header_cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.box_cadastro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.bloco_cadastro {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(skyblue, transparent);
}

.inputs_cadastro {
  font-size: 16px;
  border-radius: 25px;
  border-style: none;
  padding: 15px 40px;
  outline: none;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  width: 72vh;
}

#btnCriarConta {
  border: none;
  background-color: rgb(6, 41, 169);
  border-radius: 25px;
  padding: 10px 45px;
  font-size: 17px;
  outline: none;
  margin-top: 30px;
  font-weight: bold;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}

@media screen and (max-width: 750px) {
  .inputs_cadastro {
    width: 260px;
  }
  .titulo_cadastro {
    font-size: 27px;
    margin-right: 37px;
  }
}

@media screen and (max-width: 320px) {
  .inputs_cadastro {
    width: 220px;
  }
  .titulo_cadastro {
    font-size: 24px;
    margin-right: 24px;
  }
  #btnCriarConta {
    padding: 10px 37px;
  }
}
