.boxEditarPerfil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.blocoEditarPerfil {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(skyblue, transparent);
}

.headerEditarPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#tituloEditarPerfil {
  margin-right: 45px;
  font-size: 38px;
  color: navy;
}

.inputsEditarPerfil {
  font-size: 16px;
  border-radius: 25px;
  border-style: none;
  padding: 15px 40px;
  outline: none;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  width: 48vh;
}

#btnSalvarEdicaoPerfil {
  border: none;
  background-color: rgb(6, 41, 169);
  border-radius: 25px;
  padding: 10px 45px;
  font-size: 17px;
  margin-top: 30px;
  outline: none;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 750px) {
  .inputsEditarPerfil {
    width: 270px;
  }
  #tituloEditarPerfil {
    margin-right: 32px;
  }
}

@media screen and (max-width: 320px) {
  .inputsEditarPerfil {
    width: 230px;
  }
  #tituloEditarPerfil {
    margin-right: 18px;
  }
}
