.boxDisciplinas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.blocoDisciplinas {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(skyblue, transparent);
}

.headerDisciplinas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.tituloDisciplinas {
  margin-right: 45px;
  font-size: 38px;
  color: navy;
}
 #voltarHome{
  position: relative;
  left: -20px;

}
#tabelaDisciplinas {
  border: none;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin: 30px;
  border-radius: 10px;
}
#tabelaDisciplinas th,
td {
  padding: 10px;
}

#nomeDisciplinaTabela {
  text-decoration: none;
  color: black;
}

#filtroDisciplina {
  font-size: 16px;
  margin-top: 30px;
  border-radius: 20px;
  border-style: none;
  padding: 10px 30px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#btnBuscaDisciplina {
  border: none;
  background-color: rgb(6, 41, 169);
  border-radius: 25px;
  padding: 10px 45px;
  font-size: 17px;
  outline: none;
  margin-top: 30px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#pesquisaDisciplina {
  font-size: 18px;
  border-radius: 25px;
  border-style: none;
  padding: 15px 40px;
  outline: none;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  width: 48vh;
}

@media screen and (max-width: 750px) {
  #tabelaDisciplinas {
    margin: 20px;
    font-size: 16px;
    word-break: break-word;
  }
  #pesquisaDisciplina {
    width: 250px;
  }
  .tituloDisciplinas {
    margin-right: 38px;
  }
}

@media screen and (max-width: 320px) {
  #pesquisaDisciplina {
    width: 225px;
  }
  #tabelaDisciplinas {
    font-size: 14px;
    word-break: break-word;
  }
  .tituloDisciplinas {
    margin-right: 25px;
  }
}
