.boxDisciplinas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.blocoDisciplinas {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(skyblue, transparent);
}

.headerDisciplinas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.tituloDisciplinas {
  margin-right: 45px;
  font-size: 38px;
  color: navy;
}

#tabelaDisciplinas {
  border: none;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin-top: 30px;
}

#nomeDisciplinaTabela {
  text-decoration: none;
  color: black;
}

#filtroDisciplina {
  font-size: 16px;
  margin-top: 30px;
  border-radius: 20px;
  border-style: none;
  padding: 10px 30px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#btnBuscaDisciplina {
  border: none;
  background-color: rgb(6, 41, 169);
  border-radius: 25px;
  padding: 10px 45px;
  font-size: 17px;
  outline: none;
  margin-top: 30px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#pesquisaDisciplina {
  font-size: 18px;
  border-radius: 25px;
  border-style: none;
  padding: 15px 40px;
  outline: none;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  width: 48vh;
}

/* .opcaozero {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  background-color: steelblue;
  margin-right: 50px;
}

.opcaoum {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 25px;
  margin-right: 80px;
  font-family: "Montserrat", sans-serif;
  background-color: steelblue;
}
.opeditar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.opcaodois {
  background-color: steelblue;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  background-color: steelblue;
} */
