.boxVerAtividade {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.blocoVerAtividade {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(skyblue, transparent);
}

.header {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

#tituloVerAtividade {
  margin-right: 45px;
  font-size: 42px;
  color: navy;
}

#editarAtividade {
  margin-right: 10px;
}

.opVerAtividade {
  margin-top: 30px;
}

.itemsVerAtividade {
  font-size: 20px;
  margin-bottom: 30px;
}

#statusVerAtividade {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
}
