.box_login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  font-family: "Montserrat", sans-serif;
}

.bloco_login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(skyblue, transparent);
}

.header_login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#nome_app {
  margin-right: 45px;
  font-size: 42px;
  color: navy;
}

.titulo_login {
  font-size: 28px;
}

.inputs_login {
  font-size: 16px;
  border-radius: 25px;
  border-style: none;
  padding: 15px 40px;
  outline: none;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  width: 48vh;
}

#btnEntrar {
  border: none;
  background-color: rgb(6, 41, 169);
  border-radius: 25px;
  padding: 10px 45px;
  font-size: 17px;
  outline: none;
  margin-top: 30px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#btnCadastrar {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.op_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .inputs_login {
    width: 260px;
  }
}

@media screen and (max-width: 320px) {
  .inputs_login {
    width: 210px;
  }
  #nome_app {
    font-size: 37px;
  }
}
