.boxVerDisciplina {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.blocoVerDisciplina {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(skyblue, transparent);
}

#voltarVerDisciplinas{
  position: relative;
  left: -20px;

}

.headerVerDisciplina {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.headerAtividadesDisciplina {
  display: flex;
  margin-top: 30px;
}

.opVerDisciplina {
  margin: 30px;
}

.itemsVerDisciplina {
  font-size: 20px;
  margin-bottom: 10px;
  word-break: break-word;
  max-width: 70vh;
}

#tituloVerDisciplina {
  margin-right: 45px;
  font-size: 42px;
  color: navy;
}

#tituloAtividadeDisciplina {
  font-size: 30px;
  margin-right: 30px;
}

#statusVerDisciplina {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
}

#editarDisciplina {
  margin-right: 8px;
}

#filtroAtividadeDisciplina {
  font-size: 16px;
  margin-top: 30px;
  border-radius: 20px;
  border-style: none;
  padding: 10px 30px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#tabelaAtividadesDisciplina {
  border: none;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin: 30px 0px;
  border-radius: 10px;
}

#tabelaAtividadesDisciplina th,
td {
  padding: 10px;
}

#nomeAtividadeDisciplinaTabela {
  text-decoration: none;
  color: black;
}

#btnBuscaAtividade {
  border: none;
  background-color: rgb(6, 41, 169);
  border-radius: 25px;
  padding: 10px 45px;
  font-size: 17px;
  outline: none;
  margin-top: 30px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.filtroAtividade {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 750px) {
  .headerVerDisciplina {
    display: inline;
    flex-direction: column;
    margin: 20px;
  }
  #tabelaAtividadesDisciplina {
    margin: 30px;
    font-size: 16px;
    word-break: break-word;
  }
  #tituloVerDisciplina {
    margin-bottom: 10px;
    word-break: break-word;
    margin-right: 0px;
  }
}

@media screen and (max-width: 320px) {
  .headerVerDisciplina {
    display: inline;
    flex-direction: column;
    margin: 20px;
    max-width: 300px;
  }

  #tabelaAtividadesDisciplina {
    font-size: 14px;
    word-break: break-word;
  }
  #tituloVerDisciplina {
    margin-bottom: 10px;
    word-break: break-word;
    margin-right: 0px;
  }
}
