.boxAtividades {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.blocoAtividades {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(skyblue, transparent);
}

.headerAtividades {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.tituloAtividades {
  margin-right: 45px;
  font-size: 40px;
  color: navy;
}

.inputsAtividades {
  font-size: 16px;
  border-radius: 25px;
  border-style: none;
  padding: 15px 40px;
  outline: none;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  width: 48vh;
}

#tabelaAtividades {
  border: none;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
}
#tabelaAtividades th,
td {
  padding: 10px;
}

#pesquisaAtividade {
  font-size: 18px;
  border-radius: 25px;
  border-style: none;
  padding: 15px 40px;
  outline: none;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  width: 48vh;
}

#filtroAtividade {
  font-size: 16px;
  margin-top: 30px;
  border-radius: 20px;
  border-style: none;
  padding: 10px 30px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#btnBuscaAtividade {
  border: none;
  background-color: rgb(6, 41, 169);
  border-radius: 25px;
  padding: 10px 45px;
  font-size: 17px;
  outline: none;
  margin-top: 30px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#nomeAtividadeTabela {
  text-decoration: none;
  color: black;
}
