.boxVerDisciplina {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.blocoVerDisciplina {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(skyblue, transparent);
}

.headerVerDisciplina {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.headerAtividadesDisciplina {
  display: flex;
  margin-top: 30px;
}

.opVerDisciplina {
  margin-top: 30px;
}

.itemsVerDisciplina {
  font-size: 20px;
  margin-bottom: 10px;
}

#tituloVerDisciplina {
  margin-right: 45px;
  font-size: 42px;
  color: navy;
}

#tituloAtividadeDisciplina {
  font-size: 30px;
  margin-right: 30px;
}

#statusVerDisciplina {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
}

#editarDisciplina {
  margin-right: 8px;
}

#filtroAtividadeDisciplina {
  font-size: 16px;
  margin-top: 30px;
  border-radius: 20px;
  border-style: none;
  padding: 10px 30px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#tabelaAtividadesDisciplina {
  border: none;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin-top: 30px;
}

#nomeAtividadeDisciplinaTabela {
  text-decoration: none;
  color: black;
}
